
<form class="col s12 recipe-form " action="<%= action %>" method="POST">

  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="name" value="<%= showValue ? recipe.name : '' %>">
      <label for="name">Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" value="<%= showValue ? recipe.creator : '' %>" name="creator"Creator">
      <label for="creator">Creator</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="date" value="<%= showValue ? recipe.date : '' %>" name="date">
      <label for="date">Date</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="url" value="<%= showValue ? recipe.image : '' %>" name="image"Image">
      <label for="image">Image</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <textarea class="materialize-textarea" name="description" rows="6" cols="75"><%= showValue ? recipe.description : '' %></textarea>
      <label for="description">Description</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" value="<%= showValue ? recipe.length : '' %>" name="length">
      <label for="length">Length</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" value="<%= showValue ? recipe.yield : '' %>" name="yield">
      <label for="yield">Yield</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <textarea class="materialize-textarea" name="equipment" rows="3" cols="50"><%=showValue ? recipe.equipment.join(", ") : '' %></textarea>
      <label for="equipment">Equipment</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <textarea class="materialize-textarea" name="ingredients" rows="6" cols="75"><%=showValue ? recipe.ingredients.join(", ") : '' %></textarea>
      <label for="ingredients">Ingredients</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <textarea class="materialize-textarea" name="preparation" rows="6" cols="75"><%=showValue ? recipe.preparation.join(", ") : '' %></textarea>
      <label for="preparation">Preparation</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" value="<%= showValue ? recipe.beer : '' %>" name="beer">
      <label for="beer">Beer</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</form>
