<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/app.css">
    <title>Craft Tacos and Beer United</title>
  </head>
  <body>
    <%- include('partials/header') %>
   <h1>Welcome to Craft Tacos and Beer United</h1>
   <div class="container" style="text-align:center;">
     <table>
       <% for (let i = 0; i < recipes.length; i++) { %>
         <ul class="recipes">

           <br>
           <form action="/recipes/<%=i%>">

             <input class="button" type="submit" value="<%= recipes[i].name %>" /> <br>
           </form>
         </ul>

       </table>
       <form action="/recipes/<%= i %>?_method=DELETE" method="POST">
          <input class="delete-button" type="submit" value="Delete" />
        </form>
        <a href="/recipes/<%= i %>/edit">Edit Recipe</a>
        <% } %>
      </div>
       <form action="/recipes/new">
        <input class="create-button" type="submit" value="Create A New Recipe" />
        </form>
      <%- include('partials/footer') %>
  </body>
</html>
