<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('partials/head') %>
</head>
  <body>
    <%- include('partials/header') %>
   <h1>Welcome to Craft Tacos and Beer United</h1>
   <div class="container" style="text-align:center">

       <% for (let i = 0; i < recipes.length; i++) { %>
         <div class="row">
            <div class="col s12 m6">
              <div class="card large">
                <div class="card-image">
                  <img src="<%= recipes[i].image %>">
                  <span class="card-title"><%= recipes[i].name %></span>
                  <div class="row ">
                    <a href="/recipes/<%= recipes[i]._id %>/edit" class="btn-floating waves-effect waves-light btn halfway-fab"><i class="material-icons">mode_edit</i></a>
                    <form class ="btn-floating waves-effect waves-light red halfway-fab" action="/recipes/<%= recipes[i]._id %>?_method=DELETE" method="POST" style="border: 1px solid red;">
                      <button class="btn-floating waves-effect waves-light red halfway-fab" value=""><i class="material-icons">remove_circle_outline</i></button>
                    </form>
                  </div>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
          </div>
         <ul class="recipes">

           <br>
           <form action="/recipes/<%=recipes[i]._id%>">
             <input class="button" type="submit" value="<%= recipes[i].name %>" /> <br>
           </form>
         </ul>


       <!-- <form action="/recipes/<%= recipes[i]._id %>?_method=DELETE" method="POST">
          <input class="delete-button" type="submit" value="Delete" />
        </form> -->
        <!-- <a class="waves-effect waves-light btn" href="/recipes/<%= recipes[i]._id %>/edit">Edit Recipe</a> -->
        <% } %>
      </div>
      <%- include('partials/footer') %>

  </body>
</html>
