<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container-two">
      <h1><%= recipe.name %></h1>
      <br>

      <h2><%= recipe.date %></h2>

      <br>

      <p><%= recipe.description %></p>

      <br>

      <h2><%= recipe.time %></h2>
      <br>
      <h2><%= recipe.yield %></h2>
      <br>
      <h2><%= recipe.equipment %></h2>
      <br>
      <p><%= recipe.ingredients %></p>
      <br>
      <p><%= recipe.preparation %></p>
      <br>
      <h2><%= recipe.beer %></h2>


    </div>
    <form action="/recipes/<%= id %>?_method=DELETE" method="POST">
      <a href="/recipes/<%= id %>/edit">Edit Recipes</a>
      <input class="delete-button" type="submit" value="Delete" />
    </form>
    <%- include('partials/footer') %>
  </body>
</html>
