<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('partials/head') %>
</head>
  <body>
    <%- include('partials/header') %>
    <div class="show-container">
      <section>

        <h1><%= recipe.name %></h1>

        <h2><%= "By:" + " " + recipe.creator %></h2>


        <h2><%= recipe.date %></h2>

      </section>


      <img class="show-image" src="<%= recipe.image %>" />

      <section>
        <h4><%= recipe.description %></h4>
      </section>
      <section>

        <h5><%= "Length:" + " " + recipe.length %></h5>

        <h5><%= "Yield:" + " " + recipe.yield %></h5>

        <h4>SPECIAL EQUIPMENT</h4>

        <h5><%= recipe.equipment.join(", ") %></h5>

        <h4>INGREDIENTS</h4>

        <ul>
          <% recipe.ingredients.map((ing)=> { %>
            <li> <%= ing %> </li>
          <% }) %>
        </ul>

        <h4>PREPARATION</h4>

        <ul>
          <% recipe.preparation.map((prep)=> { %>
            <li> <%= prep %> </li>
          <% }) %>
        </ul>


        <h4>CRAFT BEER OF CHOICE</h4>

        <h5><%= recipe.beer %></h5>
      </section>


    </div>

    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
      <a class="waves-effect waves-light btn" href="/recipes/<%= recipe._id %>/edit">Edit Recipes</a>
      <button class="btn waves-effect waves-light red" type="submit" name="action">Delete
        <i class="material-icons right">delete</i>
      </button>
    </form>
    <%- include('partials/footer') %>

  </body>
</html>
